<main>
    <section>
        <img src="https://www.svgrepo.com/show/354259/react.svg" jsaction="" class="sFlh5c FyHeAf iPVvYb" style="max-width: 800px; height: 318px; margin: 0px; width: 318px;" alt="React Vector SVG Icon (6) - SVG Repo" jsname="kn3ccd" aria-hidden="false">
        <h2></h2>
        <button></button>
        <div>
            <span>or</span>
        </div>
        <button></button>
    </section>
    <section>
        <h1>You Should, MoveIt</h1>
        <img src="https://www.svgrepo.com/show/125791/atom.svg" jsaction="" class="sFlh5c FyHeAf iPVvYb" style="max-width: 800px; height: 318px; margin: 0px; width: 318px;" alt="Atom Vector SVG Icon (62) - SVG Repo" jsname="kn3ccd" aria-hidden="false">
    </section>
</main>